#footer {
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main.container {
    flex: 1;
    padding: 2em 0;
}

body.login {
    background-image: radial-gradient(at 50% 25%, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0)),
        url('/images/bg.jpg');
    background-size: cover;
    background-position-y: 50%;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-gap: 1.5em;
}

.recipe .options {
    display: flex;
}

.login {
    color: white;
}

#footer a {
    color: white;
}

#header img {
    width: 80px;
}

.link-important {
    color: #97c983 !important;
}
